/* Importar fuentes */
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {
    --clr-black: #1c1c1c;
    --clr-white: #f2ebd9;
    --clr-accent: #00bcd4;
    --clr-gray: #eaeaea;
    --clr-pink: #ffb6c1;
    scroll-behavior: smooth;
}

body {
    background-color: var(--clr-pink);
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding-inline: 1.5rem;
    color: var(--clr-black);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Bricolage Grotesque", sans-serif;
}

/* Estilos del encabezado */
.header {
    background-color: #ff9ca8;
    color: var(--clr-white);
    padding-block: 1rem;
    border-bottom: 2px solid var(--clr-white);
}

.header-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carrito-header {
    font-size: 2rem;
    color: var(--clr-accent);
    text-decoration: none;
}

.carrito-header:hover {
    color: var(--clr-white);
}

/* Estilos del carrito */
.main {
    padding-block: 2rem;
}

.titulo {
    margin-bottom: 1rem;
    color: var(--clr-gray);
}

.productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    margin-bottom: 3rem;
}

.producto {
    background-color: var(--clr-gray);
    padding: 2rem;
    border-radius: 1rem;
    color: var(--clr-black);
    display: flex;
    flex-direction: column;
    gap: .25rem;
    border: 2px solid var(--clr-gray);
    height: 100%;
    width: 300px;
}

.producto-img {
    border-radius: .75rem;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    background-color: white;
    object-position: top left;
    transition: 1s;
}

.producto-img:hover {
    object-position: bottom right;
}

.producto-btn,
#finalizar-compra {
    border-radius: .75rem;
    border: 0;
    background-color: var(--clr-accent);
    color: var(--clr-white);
    padding: .5rem;
    margin-top: .5rem;
    cursor: pointer;
    border: 2px solid var(--clr-accent);
    transition: .2s;
}

.producto-btn:hover,
#finalizar-compra:hover {
    background-color: var(--clr-white);
    color: var(--clr-black);
    font-weight: 600;
    letter-spacing: 1px;
}

.producto-btn {
    border-radius: .75rem;
    border: 0;
    background-color: var(--clr-accent);
    color: var(--clr-white);
    padding: .5rem;
    margin-top: .5rem;
    cursor: pointer;
    border: 2px solid var(--clr-accent);
    transition: .2s;
}

.producto-btn:hover {
    background-color: var(--clr-white);
    color: var(--clr-black);
    font-weight: 600;
    letter-spacing: 1px;
}

.carrito-producto {
    background-color: #c5c1c1;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carrito-producto p {
    margin-right: 1rem;
    font-weight: bold;
}

.carrito-producto .precio {
    display: none;
}

.carrito-producto-btn {
    background-color: var(--clr-accent);
    color: var(--clr-white);
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem;
    cursor: pointer;
    margin-right: 0.5rem;
}

.carrito-producto-btn:hover {
    background-color: var(--clr-white);
    color: var(--clr-black);
    font-weight: bold;
}

/* Estilos del pie de página */
.footer {
    background-color: #ff9ca8;
    color: var(--clr-white);
    padding: 3rem 0;
    text-align: center;
}

.footer-text {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--clr-black);
}
